<div class="container-fluid">
  <div class="row justify-content-center">
    <!-- left column -->
    <div class="col-md-12">
      <!-- general form elements -->
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Add Gas Tanks </h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form id="tank-form">
          <div class="card-body">

            <div class="row">
              <div class="form-group col-sm-6">
                <label for="tank-name">Entry Tank Name</label>
                <input type="text" id="tank-name" class="form-control" placeholder="Enter Tank Name">
              </div>

              <div class="form-group col-sm-6">
                  <label for="capacity">Enter Tank Capacity</label>
                  <input type="text" class="form-control" id="capacity" placeholder="Enter Tank Capacity">
                </div>
            </div>



            <!-- <div class="row">
              <div class="form-group col-sm-6">
                <label for="tank-3">Enter Tank Name</label>
                <input type="text" class="form-control" id="tank-3" placeholder="Enter Volume">
              </div>

              <div class="form-group col-sm-6">
                <label for="tank-4">Enter Tank Name</label>
                <input type="text" class="form-control" id="tank-4" placeholder="Enter Gas Cost Price">
              </div>
            </div> -->

          </div>
          <!-- /.card-body -->

          <div class="card-footer">
            <button type="submit" class="btn btn-primary">Submit New Gas Entry</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>