<div class="container-fluid" id="product-info">
  <!-- Small boxes (Stat box) -->
  <div class="row">
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-info">
        <div class="inner" id="quantity-bought">

        </div>
        <div class="icon">
          <i class="ion ion-bag"></i>
        </div>
        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-success">
        <div class="inner" id="quantity-left">

        </div>
        <div class="icon">
          <i class="ion ion-stats-bars"></i>
        </div>
        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-warning">
        <div class="inner" id="quantity-sold">


        </div>
        <div class="icon">
          <i class="ion ion-person-add"></i>
        </div>
        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-danger">
        <div class="inner" id="total-amount">

        </div>
        <div class="icon">
          <i class="ion ion-pie-graph"></i>
        </div>
        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->

  </div>
  <hr>
  <!-- /.row -->


  <!-- Main row -->
</div>
<script src="/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript">
  $('#product-info').hide('fast')
  $(document).ready(() => {
    $.getJSON('/user').then(data => {
      if (data._userDoc == undefined) {
        $('#product-info').show('fast')
        $.getJSON('/product/info').then( data => {
          $('#quantity-bought').html(`
            <h1>${data.quantityBought}</h1>
            <p>Quantity Bought (kg)</p>
          `)
          $('#quantity-left').html(`
            <h1>${data.quantityLeft}</h1>
            <p>Quantity Left (kg)</p>
          `)
          $('#quantity-sold').html(`
            <h1>${data.totalSold}</h1>
            <p>Total Sold (kg)</p>
          `)
          $('#total-amount').html(`
            <h1>${data.AmountSold}</h1>
            <p>TOTAL AMOUNT SOLD (NAIRA)</p>
          `)
        })
      }
    })

  })
</script>
