
    <div class="container-fluid">
      <div class="row justify-content-center">
        <!-- left column -->
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Make a new Entry</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form id="create-staff">
              <div class="card-body">

                <div class="row">
                  <div class="form-group col-sm-6">
                    <label for="first-name">First Name</label>
                    <input type="text" id="first-name" class="form-control" placeholder="Enter First Name">
                  </div>

                  <div class="form-group col-sm-6">
                  <label for="last-name">Last Name</label>
                  <input type="text" class="form-control" id="last-name" placeholder="Enter Last name">
                </div>
                </div>

                <div class="row">
                  <div class="form-group col-sm-6">
                    <label for="designation">Staff Designation</label>
                    <input type="text" class="form-control" id="designation" placeholder="Enter staff designation">
                  </div>

                  <div class="form-group col-sm-6">
                    <label for="position">Staff Position</label>
                    <input type="text" class="form-control" id="position" placeholder="Enter staff position">
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-sm-6">
                    <label for="username">Staff Username</label>
                    <input type="text" class="form-control" id="username" placeholder="Enter satff username">
                  </div>

                  <div class="form-group col-sm-6">
                    <label for="password">Staff Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Enter Staff Password">
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-sm-6">
                    <label for="number">Staff Phone Number</label>
                    <input type="number" class="form-control" id="number" placeholder="Enter Staff phone number">
                  </div>

                  <div class="form-group col-sm-6">
                    <label for="email">Staff Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter staff email">
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-sm-6">
                    <label for="address">Staff Address</label>
                    <input type="text" class="form-control" id="address" placeholder="Enter Staff address">
                  </div>

                  <div class="form-group col-sm-6">
                    <label for="lga">Staff LGA</label>
                    <input type="text" class="form-control" id="lga" placeholder="Enter Staff LGA">
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-sm-6">
                    <label for="state">Staff State</label>
                    <input type="text" class="form-control" id="state" placeholder="Enter Staff state">
                  </div>

                  <div class="form-group col-sm-6">
                    <label for="bloodgroup">Staff bloodgroup</label>
                    <input type="text" class="form-control" id="bloodgroup" placeholder="Enter Staff bloodgroup">
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-sm-6">
                    <label for="dob">Staff DOB</label>
                    <input type="date" class="form-control" id="dob" placeholder="Enter Staff dob">
                  </div>

                  <div class="form-group col-sm-6">
                    <label for="genotype">Staff Genotype</label>
                    <input type="text" class="form-control" id="genotype" placeholder="Enter Staff genotype">
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-sm-6">
                    <label for="allergies">Staff Allergies</label>
                    <input type="text" class="form-control" id="allergies" placeholder="Enter Staff allergies">
                  </div>

                  <div class="form-group col-sm-6">
                    <label for="bank">Staff Bank</label>
                    <input type="text" class="form-control" id="bank" placeholder="Enter Staff bank">
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-sm-6">
                    <label for="acct-name">Staff Account Name</label>
                    <input type="text" class="form-control" id="acct-name" placeholder="Enter Staff acct name">
                  </div>

                  <div class="form-group col-sm-6">
                    <label for="acct-num">Staff Account Number</label>
                    <input type="text" class="form-control" id="acct-num" placeholder="Enter Staff acct number">
                  </div>
                </div>

              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Create New Staff</button>
              </div>
            </form>

            <!-- <form id="image">
              <div class="form-group my-3">
                <label for="exampleInputFile">Upload Staff Image</label>
                <div class="input-group">
                  <div class="custom-file">
                    <input type="file" name="logo" class="custom-file-input" id="staff-image">
                    <label class="custom-file-label" for="staff-image">Choose file</label>
                  </div>
                  <div class="input-group-append">
                    <button type="submit" class="input-group-text">Upload</button>
                  </div>
                </div>
              </div>
            </form> -->

          </div>
        </div>
      </div>
