<div class="card card-primary">
  <!-- /.card-header -->
  <!-- form start -->
  <form id="gas-price-form">
    <div class="card-body">
      <div class="form-group col-sm-6">
        <label for="price">Enter Gas Price Per KG</label>
        <input
          type="number"
          class="form-control"
          id="price"
          placeholder="Enter Gas Price"
        />
      </div>
      <div class="form-group col-sm-6">
        <label for="price">Enter Points Per KG gas bought</label>
        <input
          type="number"
          class="form-control"
          id="points"
          placeholder="Enter Points"
        />
      </div>
    </div>
    <!-- /.card-body -->

    <div class="card-footer">
      <button type="submit" class="btn btn-primary">Set Gas Price</button>
    </div>
  </form>
</div>
