<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AdminLTE 3 | Registration Page</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/dist/css/adminlte.min.css">
</head>
<body class="hold-transition register-page">
  <div class="register-box">

      <%- include('components/signup-form') %>

  </div>

  <script src="/plugins/jquery/jquery.min.js"></script>
  <!-- Bootstrap 4 -->
  <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- AdminLTE App -->
  <script src="/dist/js/adminlte.min.js"></script>
  <script>
    $(document).ready(() => {
      const errors = {}
      $('#signup-form').on('submit', async (e) => {
        e.preventDefault()
        const email = $('#email').val()
        const password = $('#password').val()
        const password2 = $('#password2').val()

        const passwordError = $('#password-error')
        let emailError = $('#email-error')

        // If the passwords match make the request
        if (password === password)
        {
          const res = await fetch('/signup', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ email, password })
          })

          // if the singup is successful, redirect the user to the dashboard
          if (res.ok) {
            location.assign('/dashboard/index')
          }

          // if the singup is not successful, update the ui with the error
          if (res.staus == 400 || 404) {

            const { errorCode, errorMessage } = await res.json()

            // if the error is with the password then update only the password field
            if (errorCode == 'auth/weak-password') {
              passwordError.html(errorMessage);
              emailError.html('')
            }

            // if the error is with the email then update the email field
            if (errorCode == 'auth/invalid-email') {
              emailError.html(errorMessage);
              passwordError.html('')
            }
            console.log(errorCode, errorMessage)
          }

        }

        // notify the user that the passwords do not match
        else {
          errors.password = 'passwords do not match'
        }
      })
    })
  </script>
</body>
</html>
