<div class="content-wrapper">
  <!-- HEADER section -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Make a New Entry</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
            <li class="breadcrumb-item active">New entry</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- ENTRY FORM -->
  <section class="content">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <!-- left column -->
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Make a new Entry</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form>
              <div class="card-body">

                <div class="row">
                  <div class="form-group col-sm-12">
                    <label for="exampleInputEmail1">Entry Date</label>
                    <input type="date" id="date" class="form-control" id="entry_date" placeholder="">
                  </div>

                  <!-- <div class="form-group col-sm-6">
                  <label for="exampleInputEmail1">Entry Time</label>
                  <input type="time" class="form-control" id="entry_time" placeholder="">
                </div> -->
                </div>



                <div class="row">
                  <div class="form-group col-sm-6">
                    <label for="entryVolume">Gas Volume in KG</label>
                    <input type="text" class="form-control" id="entryVolume" placeholder="Enter Volume">
                  </div>

                  <div class="form-group col-sm-6">
                    <label for="cost">Gas Cost Price</label>
                    <input type="text" class="form-control" id="cost" placeholder="Enter Gas Cost Price">
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-sm-6">
                    <label for="logistics">Cost of Logistics</label>
                    <input type="text" class="form-control" id="logistics" placeholder="Enter Logistics Cost">
                  </div>

                  <div class="form-group col-sm-6">
                    <label for="landing">Landing Cost Price</label>
                    <input type="text" class="form-control" id="landing" placeholder="Enter Total Cost of Landing">
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-sm-6">
                    <label for="supplier">Supplier</label>
                    <input type="text" class="form-control" id="supplier" placeholder="Enter Supplier Name">
                  </div>

                  <div class="form-group col-sm-6">
                    <label for="remark">Remark</label>

                    <textarea class="form-control" rows="3" id="remark" placeholder="Enter Detailed remark"></textarea>
                  </div>
                </div>


              </div>
              <!-- /.card-body -->

              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit New Gas Entry</button>
              </div>
            </form>
          </div>
        </div>
      </div>
  </section>
</div>
