<section class="content">
  <div class="container-fluid">
    <div class="row" style="justify-content: center; align-items: center; align-content: center;">
      <!-- left column -->
      <div class="col-md-6" style="transform: translateY(12rem);">
        <div class="card card-success" id="form">
          <div class="card-header">
            <h3 class="card-title">Login</h3>
          </div>
          <form id="login-form" class="card-body">
            <div class="input-group mb-1 mt-3">
              <div class="input-group-prepend">
                <span class="input-group-text fas fa-envelope"></span>
              </div>
              <input type="text" class="form-control" placeholder="john@doe.com" id="email" />
            </div>
            <small class="text-danger mb-3" id="email-error"></small>

            <div class="input-group mb-1">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-key" aria-hidden="true"></i>
                </span>
              </div>
              <input type="password" class="form-control" placeholder="Test1234" id="password" />
            </div>
            <small class="text-danger mb-3" id="password-error"></small>

            <div class="input-group">
              <button type="submit" class="btn btn-block bg-gradient-primary">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>


